<header class="site-header">
  <div class="container">
    <nav class="navbar">
      <a class="brand" href="/">Agenda de contactos</a>
      <ul class="nav-links">
        <li><a class="<%= currentPath === '/' ? 'active' : '' %>" href="/">Inicio</a></li>
        <li><a class="<%= currentPath === '/contactos' ? 'active' : '' %>" href="/contactos">Lista de contactos</a></li>
        <li><a class="<%= currentPath === '/contactos/agregar' ? 'active' : '' %>" href="/contactos/agregar">Agregar contacto</a></li>
        <li><a class="<%= currentPath === '/acerca-de' ? 'active' : '' %>" href="/acerca-de">Acerca de</a></li>
      </ul>
    </nav>
  </div>
</header>
<main class="container">
